*.log
*.orig
*.trs
*.so*
*.tree
*.nop
*.lds
*.first
*.second
*.list
prelink.cache
prelink.conf
cxx1
cxx2
cxx3
cycle1
cycle2
ifunc1
ifunc2
ifunc3
layout1
layout2
reloc1
reloc10
reloc11
reloc2
reloc3
reloc6
reloc7
shuffle1
shuffle2
shuffle3
shuffle4
shuffle5
shuffle6
shuffle7
shuffle8
shuffle9
tls1
tls2
tls3
tls4
tls5
tls6
tls7
tlstest
undo1

